<h1> Make Reservation </h2>

<%= form_for restaurant_reservation_index_path(@restaurant.id) do |f| %>
  <div class="field">
    <%= f.label :datetime %><br />
    <%= f.datetime_field :datetime %>
  </div>
  <div class="action">
    <%= f.submit "Reserve" %>
  </div>


<% end %>
